[user]
	name = Eriks Vitolins
	email = evitolins@gmail.com
[mergetool]
	keepBackup = true
	prompt = false
[core]
	excludesfile = /Users/ev/.gitignore_global
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
